<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>

  <mat-card class="login">

    <mat-toolbar color="primary">{{ 'TITLE' | translate }}</mat-toolbar>

    <mat-card-content>

      <div *ngIf="loading"  fxLayout="column"  fxLayoutAlign="center center" fxFill>
        <mat-spinner color="accent" fxFill class="login-spinner"></mat-spinner>
      </div>

      <div *ngIf="!loading">
        <form #loginForm="ngForm" (submit)="login($event)" novalidate autocomplete="off" [class.opacity-50]="loading">
          <mat-input-container>
            <mat-icon matPrefix>person</mat-icon>
            <span></span>
            <input name="username" placeholder="{{ 'PLACEHOLDER_USERNAME' | translate }}" type="text" required matInput [(ngModel)]="username"
              [disabled]="loading" #usernameControl />
          </mat-input-container>

          <mat-input-container>
            <mat-icon matPrefix>security</mat-icon>
            <span></span>
            <input name="password" placeholder="{{ 'PLACEHOLDER_PASSWORD' | translate }}" type="password" required matInput [(ngModel)]="password"
              [disabled]="loading" #passwordControl />
          </mat-input-container>

          <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid || loading">{{ 'BUTTON_SUBMIT' | translate }}</button>
            <button mat-button color="primary" [disabled]="loading">{{ 'BUTTON_SIGNUP' | translate }}</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>