<mat-sidenav-container fxFlex fxFlexFill>
  <mat-sidenav #sidenav>
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexFill>
    <app-navbar [title]="title">
      <router-outlet name="navbar"></router-outlet>
    </app-navbar>

    <article fxFlex fxFlexFill>
      <router-outlet></router-outlet>
    </article>

    <!--<footer>
      <router-outlet name="footer"></router-outlet>
    </footer> -->
  </div>
</mat-sidenav-container>


