<div class="container"  *ngIf="navbarService.visible">
  <mat-toolbar class="mat-elevation-z10" color="primary">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>more_vert</mat-icon>
      </button>

      <span>{{title}}</span>

      <span fxFlex></span>

      <span fxLayout="row" fxLayoutAlign="start center">
        <a
          mat-button
          *ngFor="let locale of locales"
          (click)="changeLocale(locale)"
        >{{ locale.nameShort }}</a>

        <button *ngIf="user"
          mat-mini-fab
          tooltip-position="below"
          (click)="authService.logout()"
        >
          <mat-icon>power_settings_new</mat-icon>
        </button>

        <button *ngIf="!user"
          mat-mini-fab
          tooltip-position="below"
          [routerLink]="['/auth/login']"
        >
          <mat-icon>person</mat-icon>
        </button>
      </span>
    </div>
  </mat-toolbar>
</div>